<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hisp.dhis.android.app">

    <application
        android:name=".TrackerCaptureApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">

        <activity android:name="org.hisp.dhis.client.sdk.ui.bindings.views.DefaultLauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.hisp.dhis.client.sdk.ui.bindings.views.DefaultLoginActivity" />
        <activity android:name=".views.EnrollmentFormActivity"/>
        <activity android:name=".views.TrackedEntityInstanceDashboardActivity"/>
        <activity
            android:name=".views.HomeActivity"
            android:theme="@style/AppTheme.Main" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_api_key}" />

        <!-- Sync service : -->
        <service
            android:name=".sync.SyncService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>
